.homePageSection {
    padding-top:12px;
    padding-bottom: 12px;
   

}
.homePageContainer {
    max-width: 370px;
    width:100%;
    padding-inline: 15px;
    margin-inline: auto;
}

.homePageTitle {
    /* font-size: 24px; */
    margin-bottom: 20px;
}

.homePageLoadingContainer {
 display: flex;
 justify-content: center;
 padding: 12px 0;
}